html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  line-height: 1.3;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article {
  margin: auto;
  border-bottom: 1px solid #999;
}

article header {
  margin: 0;
}

article h1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 0;
}

article header p {
  font-style: italic;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

article p {
  font-size: 1em;
}

article ol {
  padding: 0 1rem;
}

blockquote {
  font-weight: normal;
  font-size: 1.125rem;
  color: #555;
}

.quote {
  color: #999;
}
